body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
  background-color: #000000
}
header {
  padding: 25px 0;
  margin: 50px;
  background-image: url("https://free-images.com/lg/ad5f/spiders_spiderwebs.jpg");
  background-size: cover;
}
header .row,
footer .row {
  display: flex;
  align-items: center;
}
header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 15px;
  margin: 0;
  color: #ffffff;
}

h1 {
	font-size: 32px;
  font-family: 'Chilanka', cursive;
  color: #FF0000
}

h2 {
	font-size: 56px;
}


.Class1 {
	padding: 100px 0;
	margin: 30px;
  background-image: url("https://snappygoat.com/b/ee07c30c81af39c5399fc293f713d4feb2379ded");
	background-image: url("https://free-images.com/lg/665e/worried_girl_woman_waiting.jpg");
	background-image: url("https://free-images.com/lg/f5eb/fire_explosion_danger_hot.jpg");
  background-size: cover;
  color: #ffffff;
}


p {
  padding: 10px 0;
	margin: 10px;
  font-size: 2rem;
  font-family: 'Indie Flower', cursive;
  color: #ffffff
}

#footer {
  font-size: 0.75rem;
  font-family: 'Indie Flower', cursive;
}
